#subHomeHeading {
    margin: 3% 0 15% 0;
}
.img-fluid {
    height: 280px;
    width: 517px;
}
.seperator {
    margin: 0 10px;
}
.liveCode {
    list-style-type: none;
    margin: 10px;
    display: inline-flex;
    padding: 0;
}
.live:hover, .code:hover {
    color: white;
}

/* Added important to override width and font size from bootstrap */
.skills {
    margin: auto !important;
    width: 50% !important;
}

@media only screen and (max-width: 800px) {
    .info {
        font-size: 12px !important;
    }
}