#subHomeHeading {
    margin: 3% 0 15% 0;
}
.img-fluid {
    height: 280px;
    width: 517px;
}
.skills {
    margin: auto !important;
    width: 50% !important;
}

@media only screen and (max-width: 800px) {
    .info {
        font-size: 12px !important;
    }
}